{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#"><img src="https://media.licdn.com/dms/image/D560BAQFWeyc-ohrdIw/company-logo_200_200/0/1680978454093/hshacks_logo?e=2147483647&v=beta&t=OnXrbkZf79rC1GG-nWrMP_Ocyti0eAuwCjvhfSYmu4g" alt="My image" width="75"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="http://127.0.0.1:8000/new">Request Service</a>
      <a class="nav-item nav-link" href="http://127.0.0.1:8000/about">About our Platform</a>
    </div>
  </div>
</nav>

